@media only screen and (max-width: 768px) {
  .formulario--contacto {
    margin: 20px;
    width: 450px;
  }

  .mapa {
    width: 450px;
  }

  .btn-primary {
    width: 500px;
  }

  .logo_2 {
    width: 80px;
    transform: translate(80px, 120px);
  }
}
@media only screen and (max-width: 1024px) {
  .formulario--contacto {
    margin: 20px;
    width: 450px;
  }

  .mapa {
    width: 450px;
  }

  .logo_2 {
    width: 800px;
    transform: translate(120px, 180px);
  }

  .btn-primary {
    width: 720px;
  }
}
@media only screen and (max-width: 414px) {
  .formulario--contacto {
    margin: 20px;
    width: 350px;
  }

  .mapa {
    width: 350px;
  }

  .logo_2 {
    width: 350px;
    transform: translate(35px, 80px);
  }

  .btn-primary {
    width: 400px;
  }

  .artdestacados__cards .card {
    margin-top: 50px;
  }
}
.componentes {
  width: 100%;
  margin-top: px;
  display: flex;
  justify-content: center;
}
.componentes .componentes__item {
  padding: 20px;
  margin: 50px;
}
.componentes .componentes__item h3 {
  font-size: 2.5rem;
  text-align: center;
  color: #f8b500;
}
.componentes .componentes__item p {
  font-size: 1.5rem;
  text-align: center;
  color: #f8b500;
}
.componentes .componentes__item img {
  margin: auto;
  display: block;
  padding-bottom: 20px;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
}
.galeria .card {
  border: none;
  font-size: 3rem;
  margin: 20px;
}
.galeria .card .img-producto {
  position: relative;
}
.galeria .card .img-producto .info {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(248, 181, 0, 0.8);
  color: white;
  font-size: 1.5rem;
  text-align: center;
  opacity: 0;
  transition: all 500ms ease-out;
  cursor: pointer;
}
.galeria .card .img-producto .info h3 {
  margin-top: 20px;
  font-weight: bold;
}
.galeria .card .img-producto .info p {
  font-size: 1.2rem;
  padding: 10px;
}
.galeria .card .img-producto:hover > .info {
  opacity: 1;
}
.galeria .card h5 {
  font-size: 2rem;
  text-align: center;
}

.artdestacados {
  text-align: center;
  padding-top: 80px;
}

.artdestacados__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 80px;
  margin-bottom: 150px;
}
.artdestacados__cards .card {
  border: none;
  box-shadow: 5px 5px 20px 1px rgba(199, 199, 199, 0.61);
}
.artdestacados__cards .card-title {
  font-size: 2rem;
}
.artdestacados__cards .card-text {
  font-size: 1.2rem;
}
.artdestacados__cards .artdestacados__boton {
  font-size: 1.5rem;
  text-decoration: none;
  color: #f8b500;
}
.artdestacados__cards .artdestacados__boton:hover {
  color: black;
}

.nosotros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f8b500;
}
.nosotros .nosotros__texto {
  padding: 100px;
}
.nosotros .nosotros__texto h2 {
  color: white;
  font-size: 2rem;
}
.nosotros .nosotros__texto p {
  font-size: 1.5rem;
}
.nosotros .nosotros__texto p strong {
  font-size: 1.5rem;
}

.brands {
  margin-top: 80px;
}
.brands h3 {
  text-align: center;
}
.brands .brands__img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/*# sourceMappingURL=estilos_2.css.map */
