//estilos de formulario - contacto

$button-color:black;
$color-primary:#f8b500;
$font-size_p:1.5rem;


@media only screen and (max-width: 768px){
    .formulario--contacto{
        margin: 20px;
        width: 450px;
    }
    .mapa{
        width: 450px;
    }
   .btn-primary{
        width: 500px;
    }
    .logo_2{
       width: 400px;
       transform: translate(80px,120px);
    }

}


.componentes{
    width: 100%;
	margin-top: px;
	display: flex;
    justify-content: center;
    
    .componentes__item{
        padding: 20px;
        margin: 50px;
        h3{
            font-size: 2.5rem;
            text-align: center;
            color: $color-primary;
        }
        p{
            font-size: $font-size_p;
	        text-align: center;
	        color: $color-primary;
        }
        img{
            margin: auto;
        	display: block;
	        padding-bottom: 20px;
        }
    }
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding:50px;

    .card{
        border: none;
        font-size: 3rem;
        margin: 20px;

        img.card-img-top:hover{
            filter: blur(3px);
        }

        h5{
            font-size:2rem ;
            text-align: center;
        }
           
       }
    }


