//estilos de formulario - contacto

$button-color:black;
$color-primary:#f8b500;
$font-size_p:1.5rem;


@media only screen and (max-width: 768px){
    .formulario--contacto{
        margin: 20px;
        width: 450px;
    }
    .mapa{
        width: 450px;
    }
   .btn-primary{
        width: 500px;
    }
    .logo_2{
       width: 80px;
       transform: translate(80px,120px);
    }
    

}

@media only screen and (max-width: 1024px){
    .formulario--contacto{
        margin: 20px;
        width: 450px;
    }
    .mapa{
        width: 450px;
    }

    .logo_2{
        width: 800px;
        transform: translate(120px,180px);
     }

     .btn-primary{
        width: 720px;
    }
}

@media only screen and (max-width: 414px){
    .formulario--contacto{
        margin: 20px;
        width: 350px;
    }
    .mapa{
        width: 350px;
    }

    .logo_2{
        width: 350px;
        transform: translate(35px,80px);
     }

     .btn-primary{
        width: 400px;
    }
    .artdestacados__cards{
        .card{
            margin-top: 50px;
        }
    
    }
}




.componentes{
    width: 100%;
	margin-top: px;
	display: flex;
    justify-content: center;
    
    .componentes__item{
        padding: 20px;
        margin: 50px;
        h3{
            font-size: 2.5rem;
            text-align: center;
            color: $color-primary;
        }
        p{
            font-size: $font-size_p;
	        text-align: center;
	        color: $color-primary;
        }
        img{
            margin: auto;
        	display: block;
	        padding-bottom: 20px;
        }
    }
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding:50px;

    .card{
        border: none;
        font-size: 3rem;
        margin: 20px;

        .img-producto{
            position: relative;

            .info{
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($color-primary, $alpha: 0.8);
                color: white;
                font-size: 1.5rem;
                text-align: center;
                opacity: 0;
                transition: all 500ms ease-out;
                cursor: pointer;

                h3{
                   margin-top: 20px;
                    font-weight: bold;
                }
                
                p{
                    font-size: 1.2rem;
                    padding: 10px;
                }
            }
        }

        .img-producto:hover > .info{
            opacity: 1;
        }
     
        h5{
            font-size:2rem ;
            text-align: center;
        }

       }
    }

    .artdestacados{
        text-align: center;
        padding-top: 80px;
    }

    .artdestacados__cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 80px;
        margin-bottom: 150px;
        
        .card{
            border: none;
            box-shadow: 5px 5px 20px 1px rgba(199,199,199, 0.61);
        }
        
        .card-title{
            font-size: 2rem;
        }
        .card-text{
            font-size: 1.2rem;
        }
        .artdestacados__boton{
            font-size: $font-size_p;
            text-decoration: none;
            color: $color-primary;
        }
        .artdestacados__boton:hover{
            color: black;
        }
    }

    .nosotros{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: $color-primary;

        .nosotros__texto{
            padding: 100px;

            h2{
                color: white;
                font-size: 2rem;
            }
            p{
                font-size: $font-size_p;
            strong{
                font-size: $font-size_p;
            }
            }
        }
    }

.brands{
    margin: 80px;

    h3{
        text-align: center;
    }
    .brands__img{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

.newsletter{
    .mail{
       border: none;

    }
    .btn-primary{
        background-color: $color-primary;
        border: solid 2px white;
        
    }
    .btn-primary:hover{
        background-color: white;
        color: $color-primary;
    }
}

.btn-whatsapp {
    display:block;
    width:70px;
    height:70px;
    color:#fff;
    position: fixed;
    right:20px;
    bottom:20px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
}

.footer__contacto{
    a{
        font-size: 1.2rem;
        color: white;
        text-decoration: none;
    }
}

.formulario--contacto{
    .formulario__campo{
        border: none;
        border-bottom: solid 2px $color-primary;
     
    }
    .formulario__boton{
        background-color: white;
        color: $color-primary;
        border: solid 2px $color-primary;
    }
    .formulario__boton:hover{
        border: solid 2px black;
    }
}

.proyectos{
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    .nosotros__imagen{
        margin-top: 50px;
    }
    .nosotros__texto{
        h2{
            color: black;
        }
    }
}

#productContainer{
    display: flex;
  
  .card{
      width: 50%;
      height: 50%;
      padding-right: 20px;
     
  }
 
}